
#dayBody {
	width: 80%;
	margin: auto;
}

#mainContainer {
	min-height: 500px;
}

/* #plContainer {
	padding-top: 50px;
} */

.title_collection {
	font-size: 14px;
}

a:hover {
	cursor: pointer;
}

#noteTextContainer {
	display: none;
}


#noteContainer {
	display: none;
}
.tool-tip {
	z-index: 9999!important ;
}

td, tr{
	z-index: -1;
}
