
input {
	width : 200px;
}

#mainContainer {
	width: 80%;
	margin: auto;

}

.tableFixHead {
	overflow-y: auto;
	height: 500px;
}

.ui.table thead tr:first-child > th {
     position: sticky !important;
     top: 0;
     z-index: 2;
}
